<%= form_with(model: collection_points, local: true, class:"form-group") do |form| %>
  <div class="row">
    <div class="form-group col-md-6">
      <%= form.label :nome, '* Nome', class:"col-md control-label" %>
      <%= form.text_field :name, placeholder: "Ex: Supermercado Big", class:"form-control", required: true %>
    </div>
    
    <div class="form-group col-md-6">
      <%= form.label :estado, '* Estado', class:"col control-label" %>
      <%= form.select :state, ['AC','AL','AP','AM','BA','CE','DF','ES','GO','MA','MT','MS','MG','PA','PB','PR','PE','PI','RJ','RN','RS','RO','RR','SC','SP','SE','TO'], class:"form-control", id: "js-searchable", required: true %>
    </div>
    <div class="form-group col-md-6">
      <%= form.label :cidade, '* Cidade', class:"col control-label" %>
      <%= form.text_field :city, placeholder: "Ex: Florianópolis", class:"form-control", required: true %>
    </div>
    <div class="form-group col-md-6">
      <%= form.label :endereço, '* Endereço', class:"col control-label" %>
      <%= form.text_field :address, placeholder: "Ex: Rua dos limões, 1200/44", class:"form-control", required: true %>
    </div>
    <div class="form-group col-md-6">
      <%= form.label :telefone, class:"col control-label" %>
      <%= form.text_field :phone, placeholder: "(xx)12345-6789", class:"form-control" %>
    </div>
    <div class="form-group col-md-6">
      <%= form.label :observação, class:"col control-label" %>
      <%= form.text_field :obs, placeholder: "Ex: Ponto de coleta em frente ao estacionamento", class:"form-control" %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :type_of_material, '* Tipo de material', class:"col control-label" %>
      <%= form.collection_select :material_type_id, MaterialType.all, :id, :name, {}, class:"form-control" %>
    </div>
    
    <div class="actions ml-4">
      <%= form.submit "Criar", class:"btn btn-secondary" %>
      <%= link_to 'Voltar', root_path, class:"btn btn-secondary" %>
    </div>
  </div>
<% end %>
