<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @collection_point.name %>
</p>

<p>
  <strong>State:</strong>
  <%= @collection_point.state %>
</p>

<p>
  <strong>City:</strong>
  <%= @collection_point.city %>
</p>

<p>
  <strong>Address:</strong>
  <%= @collection_point.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @collection_point.phone %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @collection_point.obs %>
</p>

<%= link_to 'Edit', edit_collection_point_path(@collection_point) %> |
<%= link_to 'Back', collection_points_path %>
