<div class="card border-success text-center mb-4 mt-4">
  <div class="card-header"><%= @collection_point.name %></div>
  <div class="card-body">
  <p>
  <%= @collection_point.city %>, <%= @collection_point.state %>
  </p>
  <p>
    <%= @collection_point.address %>
  </p>
  <p>
    <%= @collection_point.phone %>
  </p>
  <p>
    <%= @collection_point.obs %>
  </p>
  </div>
</div>

<%= link_to 'Voltar', root_path, class:"btn btn-secondary" %>
